{
  "printWidth": 100,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./global.css",
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "cva", "cn"]
}
